.navbar {
    background-color: #3c2a21; /* Deep African brown */
}
.navbar a {
    color:#fdbe34; /* Golden yellow text */
}

#hero {
    background-color: #fff;
}
#hero .carousel-item img {
    height: 400px; /* To help adjust height for tablet and desktop */
    width: auto;
    object-fit: contain; 
    border-radius: 10px;
    display: block;
    margin:0 auto;
}


@media (max-width:768px) {
     #hero .carousel-item img {
        height:200px;
        } 
}