/* Google fonts import */ @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

/* CSS Variables */ 
:root {  --primary-font: "Inter", sans-serif;    
        --secondary-font: "Macondo", cursive;     
        --primary-color: #3a2620;  /* dark brown */    
         --secondary-color: #e8caa4;  /* warm beige */     
         --highlight-color: #b33c12;  /* warm red-orange */     
         --highlight-color-light: #f3a67f;  /* light peach */
         }
/* General style */
body {
    font-family: var(--primary-font);
    padding-top: 57.15px;
}
h1, h2, h3 {
    font-family: var(--secondary-font);
    color: var(--primary-color);
}
h1, h2 {
    text-transform: uppercase;
}
h2 {
    margin-bottom: 2rem;
}
.suh-heading-color {
    color: var(--highlight-color);
}
.section {
    padding-top: 4rem;
}
/* For the buttons */
.custom-button-filled {
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    color: white;
}
 .custom-button-filled:hover {
  border: 2px solid var(--secondary-color);   
    background-color: var(--secondary-color);
  color: white; 
} 
  
.custom-button-outline { 
    border: 3px solid var(--highlight-color); 
    padding :7px 25px;
    color:var(--highlight-color)
  }
/* Navbar section */
#navbar {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.5rem 1rem; /* This is to adjust spaceing inside the navbar */
}
#navbar .logo {
    width: 30px;
}
.navbar-brand {
    margin-left: -10px;
}
/* Hero Header */
#hero .lead {
    font-family: var(--secondary-font);
}
#hero h1, #hero p {
    text-align: center;
}

/* Recipes  section */
#recipes .card-footer {
    font-weight: bold;
    color: var(--highlight-color);
    background-color: transparent;
}
#recipes .card {
    margin-bottom: 1.5rem;
}

/* Ingredients section */
#ingredients .table {
    font-size: 0.8rem;
}
.download-button {
    display: block;
    margin: 1rem auto;
    text-align: center;
}
/* Contact */
#contact-us {
    background-color: var(--primary-color);
    color: white;
    padding-bottom: 0;
    margin-bottom: 0;
}
#contact-us h2 {
    color: white;
}
#contact-us .sub-heading-color {
    color: var(--highlight-color-light);
}
#contact-us i {
    color: var(--secondary-color);
    font-size: 1.2rem;
    margin-right: 15px;
}
#contact-us .social-links i {
    color: var(--highlight-color-light);
    font-size: 1.9rem;
    -webkit-transition: color 0.3s ease-in-out;
    -o-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
}
#contact-us .social-links i:hover {
    color: var(--secondary-color);
}
#contact-us .table-dark * {
    background-color: transparent;
    
}
#form-section {
    padding: 2rem 1rem;
    max-width: 600px;
    margin: auto;
    margin-bottom: 0;
}
footer {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    margin-top: 0;
}
footer .container {
    max-width: 100%;
}
@media  screen and (min-width768px) {
    #hero h1,
    #hero p {
        text-align: left;
    }
}
Apollo.io.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}